.App {
  display: flex;
  height: 100vh;
  background-color: rgb(215, 253, 241);

  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.data-table {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  padding-top: 20px;
}
